<%= render 'books/list', books: @books %>

<div class="col-md-9">
  <h2>Book detail</h2>
  <table class="table-hover table-inverse">
   <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
   </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
           <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", format: 'jpeg', size: "60x60" %>
          </td>
          <td><%= user.name %></td>
          <td><%= link_to "show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>