<% if @model == 'user' %>
  <h3>【Users search for "<%= @content %>"</h3>
  <%= render 'show', users: @records %>
<% else @model == 'books' %>
  <h3>Books search for "<%= @content %>"</h3>
    <%= render 'index', books: @records %>
<% end %>